$font: 'Ubuntu', sans-serif;

$colorBackground: #d1ccb8;
$colorFont: #595651;
$colorContrast: black;
$colorHighContrast: rgb(206, 20, 20);
$colorCiano: #00ffff;
$radius: 1.5rem;
$profileImgWidth: 350px;
$fontSizeHeader: 3rem;